@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: "Roboto", sans-serif;
}

*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
ul{
    list-style:none;
}
a{
    text-decoration: none;
    
}
.praimary-text{
    color:#e4b95b;

}
.btn{
    display: inline-block;
    padding:15px 30px;
    border:none;
    border-radius: 15px;
}
.btn-primary{
color: #fff;
border: #fff solid 2px;
}
.btn-secondary{
    color: #fff;
    background-color: #383848;
    margin-top: 5px;
}
.btn-primary:hover,
.btn-secondary:hover
{
background-color: #e4b95b;
}
header{
    height: 100vh;
    background: url('OIP.webp') center center/cover no-repeat;
    position: relative;
}
header div img{
    width: 80px;
    border-radius: 150px;
    margin-left: 100px;
}
.navbar{
    display:flex;
    justify-content: space-between;
    /* background-color: brown; */
    align-items: center;
}
 .navbar ul{
    display: flex;
    margin-right: 100px; 
}
.navbar ul li a{
    padding: 15px 10px;
    color: #fff;
    font-weight: 600;
}
.navbar ul li a:hover{
    border-bottom: #e4b95b 2px solid;
}
header .content{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
}
header .content h1{
    font-size: 40px;
    color: #fff;
}
header .content p{
    margin:20px 0 40px;
    color: #fff;
}
header::before{
        content:"";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-color:rgb(0,0, 0 , 0.6) ;
    }
    header *{
        z-index: 10;
    }
    /*About start*/
    .container{
        max-width: 1100px;
        margin:auto;
    }
    #About{
        height: 80vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f4f4f4;
    }
    #About .title,
    #offfers .tilte,
    #Menu .title
    {
        text-align: center;
        margin-bottom: 3rem;
    }
    #About h2,
    #offers h2,
    #Menu h2,
    #gallery h2
    {
        font-size: 40px;
        margin-bottom: 20px;
        
        
    }
    #About h2,
    #Menu h2
    {
        color:darkseagreen;
    }
    #About .title p,
    #About .title p
    {
        font-size: 15px;
        color: #9a9a9a;
        font-weight: 100px;

    }
    #About .about-content{
        display:flex;
        justify-content: space-between;
    }
    #About .about-content img{
        width: 120px;
        height: 120px;
        border-radius: 15px;
        margin: 10px 15px;
    }
    #About .about-content p{
        color:#9a9a9a;
        margin-right: 7rem;
        font-weight: 250px;
        line-height: 1.6;
    }
    /*About end*/
    /*offers start*/
    #offers .container{
        background:url("blow.webp") center center/cover fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        position: relative; 
        width: 100vw;     /* عرض الصفحة بالكامل */
       margin: 0;        /* إزالة الهوامش */
       max-width: 100%;  /* تجاهل أي max-width موجود */
       
    }
   
    #offers .title {
  position: absolute;
  top: 30px; /* من الأعلى */
  left: 50%;
  transform: translateX(-50%); /* توسيط أفقي */
  text-align: center;
}
    
    #offers h2{
        color: #e4b95b;
       
    }
    #offers .title p{
        color: #fff;
        font-weight: 100;
    }
    
    #offers .offers-item{
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: #fff;
    }
    #offers .offers-item img{
        width: 300px;
        margin: 70px 40px 0 40px;
        /* padding: 50px 60px 0 60px; */
        border-radius: 15px;
        
    }
    #offers .offers-item h3{
        font-size: 25px;
        margin: 15px 0; 
    }
    #offers .offers-item p{
        font-size: 14px;
        padding: 0 20px;
        font-weight: 90;
        margin-bottom: 15px;

    }
    #offers .offers-item span{
        font-size: 18px;
        font-weight: 400;
        margin-left:5px ;
    }
    /*offers end*/
    /*menu start*/
    #Menu{
        background-color: #f4f4f4;
        padding: 4rem 0;
    }
    #Menu .menu-items .menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px;
    }
    #Menu .menu-items .menu-item img{
        width: 100px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
    }
    #Menu .menu-items{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #Menu .menu-items .menu-item h3{
        color: #383848;
        border-bottom: 1px dashed   #c2bdbd;
        padding-bottom: 10px;
        position: relative;
        margin-bottom: 10px;
    }
    #Menu .menu-items .menu-item span{
        position: absolute;
        top: 0;
        right:0;

    }
     #Menu .menu-items .menu-item p{
        margin-top: 10px;
     }
     #Menu .btn{
        display: block;
        margin: 20px auto 0;
        background-color: #e4b95b;
        color: #fff;
        cursor: pointer;
     }
      #Menu .btn:hover{
        background-color: #383848;
      }
    /*menu end*/
    /*daytime start*/
    #daytime{
        background: URL("YALOW.webp") center center/cover ;
        color: #fff;
        text-align: center;
    }
    #daytime .daytime-items{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40vh;

    }
    /* #daytime .daytime-items .daytime-item{
        margin: 0 15px;
    } */
     #daytime .daytime-items h3{
        font-size: 33px;
        margin: 20px 0 20px 0;
     }
      #daytime .daytime-items p{
        font-weight: 300;
      margin-top: 5px;
      }
    /*daytime end*/
    /*gallery start */
    #gallery{
        background:url("blow.webp") center center/cover fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 8rem 0 6rem;
    }
    #gallery .img-gallery{
         display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #gallery h2{
        color: #fff;
        text-align: center;
    }
    #gallery .img-gallery img{
        width: 280px;
        height: 200px;
        border-radius: 15px;
        margin: 20px;
        opacity: 0.6;
    }
    #gallery .img-gallery img:hover{
        opacity:1;
    }
    /*gallery end */
    /*comtact start*/
    #contact{
        padding:5rem 0;
        background-color: #f4f4f4;
    }
    #contact .container{
        max-width: 900px;
    }
    #contact .contant-content{
        display: flex;
        justify-content: space-evenly;
        align-items: center;    
    }
    #contact .contant-content .contact-info{
        width: 50%;
    }
    #contact .contant-content .contact-info div{
        margin:20px 0;
        line-height: 1.7;

    }
    #contact .contant-content .contact-info h3{
        color: #383848;
        font-size: 28px;
        margin-bottom: 10px;
    }
    #contact .contant-content .contact-info p{
        color: #9a9a9a;
    }
    #contact .contant-content .contact-info i{
        color: #e4b95b;
        margin-right: 5px;
    }
    #contact .contant-content .contact-info a i{
        color: #fff;
        background-color: #383848;
        padding: 15px;
        border-radius: 50%;
        font-size: 20px;
    }
     #contact .contant-content .contact-info a i:hover{
        background-color: #e4b95b;
        color: #383848;
     }
     form{
        width: 50%;

     }
     form input,
     textarea{
        display: block;
        width: 100%;
        padding:20px 15px ;
        margin: 20px 0;
        border: none;
        background-color: #e3e2dd;
     }
     #contact .btn{
        background: #e4b95b;
        color: #fff;
     }
     #contact .btn:hover{
        background-color: #383848;
     }
    /*contact end*/
    /*footer start*/
    #fotter{
        background: #383848;
        text-align: center;
        color: #fff;
        padding:15px 0;
        font-size: 14px;
    }
    #fotter span{
        font-size: 20px;
        color: dodgerblue;
    }
    /*footer end*/